.header {
  border-radius: 5px;
  padding: 0px 5px;

  cursor: default;
}

.header > p {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.description-content > .header,
#kata-details-description > .header {
  margin-bottom: 14px;
}

.pill {
  height: 32px;
  width: 32px;

  font-size: 16px;
  line-height: 32px;
  text-align: center;

  margin-left: 6px;

  display: inline-block;
  border-radius: 100%;
}

.success {
  background-color: #008532;
}

.working {
  background-color: rgb(85, 85, 85);
}

.fail {
  background-color: rgb(112, 112, 0);
}

.error {
  background-color: #7d2615;
}

.toast {
  color: #131414 !important;

  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2px;

  border-radius: 4px;

  cursor: default;
}

.toast.info {
  background: #6795de;
}

.toast.error {
  background: #de6767;
}

.toast.success {
  background: #67de6d;
}

.fix-scroll {
  padding-bottom: 1px;
}
